<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black text-white">
    <h1 class="font-bold text-center text-4xl">Library Management System</h1>
    <nav class="p-4 flex justify-end bg-gray-800">
        
        <a href="/add" class="bg-blue-500 hover:bg-blue-700 mx-2 text-white font-bold py-2 px-4 rounded">Add User</a>
        <a href="/read" class="bg-green-500 hover:bg-green-700 mx-2 text-white font-bold py-2 px-4 rounded">User Info</a>
        <a href="/update" class="bg-yellow-500 hover:bg-yellow-700 mx-2 text-white font-bold py-2 px-4 rounded">Update Info</a>
        <a href="/delete" class="bg-red-500 hover:bg-red-700 mx-2 text-white font-bold py-2 px-4 rounded">Delete Info</a>

    </nav>
</body>
</html>
